@model OwnGiveSave.Web.ViewModels.Hospitals.ViewModels.HospitalPatientViewModel
@{
    this.ViewData["Title"] = "Hospital dashboard";
}

<h1>@this.ViewData["Title"]</h1>
<div>
    <a href="/Hospital/Patient/Create">Create patient</a>
   @foreach (var item in this.Model.Patients)
   {
       <h1>@item.Blood.IsBloodPositive</h1>
       <h1>@item.Blood.TypeBlood</h1>
       <br />
       
   }
</div>
